.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  position: relative;
}
.demo-card-wide > .mdl-card__title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
.demo-card-wide > .mdl-card__title > .mdl-card__title-text {
  z-index: 10;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}